{% extends 'base.html.twig' %}
{% block body %}
        <div class="text-center">
            <i  v-show="loading" class="fa fa-spinner fa-spin"></i>
            <div class="jumbotron text-center">
                <h1>Go Viral!</h1>
                <div class="container">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">

                    </nav>
                </div>
            </div>

            <div class="container">
                <router-view />
            </div>
        </div>
{% endblock %}